MSRN/test
SAM/Images
SRCNN_pytorch2/LargeTrial/eval
SRCNN_pytorch2/LargeTrial/test
SRCNN_pytorch2/LargeTrial/train
SRCNN_pytorch2/LargeTrial/Checkpoints and results/x2/test
SRCNN_pytorch2/LargeTrial/Checkpoints and results/x4/test
SRCNN_pytorch2/LargeTrial/Checkpoints and results/x6/test
SRCNN_pytorch2/LargeTrial/Checkpoints and results/x8/test
DnCNN/trainsets/train_sigma6
DnCNN/testsets/eval_sigma6
DnCNN/testsets/test_sigma6